.container{
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: auto;
    border: 1px solid gray;
    grid-template-areas: 
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
}
.item-a{
    background-color: blue;
    grid-area: header;
}
.item-b{
    background-color: coral;
    grid-area: main;
}
.item-c{
    background-color: darkgreen;
    grid-area: sidebar;
}
.item-d{
    background-color: darkmagenta;
    grid-area: footer;
}







































/* .container{
    display: grid;
    width: 700px;
    height: 700px;
    border: 1px solid gray;
    /* grid-template-columns: repeat(3, 80px); указали что создали 3 колонки по 80 пх */
    /* grid-template-rows: repeat(3, 80px); указали что создали 3 строки по 80 пх */
    /* grid-template-columns: [first] 40px [line2] 50px [line3]  auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
    gap: 15px 15px; /*межстрочный и межколоночный интервал*/
    /* justify-content: center; выравнивание блоков внутри контейнера по горизонтали */
    /* align-content: center; выравнивание блоков внутри контейнера по вертикали
} */

 /* .box{
     /* width: 100px;
     height: 100px; */
     /* background-color: aquamarine;
     border: 1px dotted gray; */ 
     
 /* }
 .item-a{
     grid-column-start: 2 ;
     grid-column-end: five;
     grid-row-start: row1-start ;
     grid-row-end: 3 ;
     border: 1px solid red;
 }
 /* /* .item-c{
     border: 1px solid yellow;
     grid-column: 3 / span 2;
     grid-row: third-line /4;
 } */ 
  