div{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px;
    border: 5px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 0 10px red, 0 0 0 20px yellow;
}
.text{
    font-size: 48px;
    text-shadow: 5px 5px 5px gray;
}
.gradient{
    background-image: linear-gradient(to top right, red, yellow, gray);
    transform-origin: top center;
    transform: rotate(45deg);
}
.box{
    transform: translate(100px, 100px) rotate(90deg) scale(1, 1) skew(30deg)
}
.transform{
    width: 300px;
    height: 200px;
    background-image: linear-gradient(to right, yellow, blue);
    transform: rotate(-45deg);
    transform-origin: top;
    box-shadow: -5px 5px 5px gray;
    margin: 300px;
}
.anime{
    transition: width 3s;
}
.anime:hover{
    width: 400px;
} 
@keyframes clr{
    from{
        background: red;
    }
    to{
        background: greenyellow;
    }
}
@keyframes clr2{
    0%{
        background: red;
    }
    25%{
        background:rgb(209, 37, 37);
    }
    50%{
        background: rgb(182, 82, 82);
    }
    100%{
        background: rgb(129, 6, 6);
    }
}

.animation{
    animation-name: clr2;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
img{
    filter: grayscale(100%);
}
    
    
